<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../layout/head.ejs %>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
  <% include ../layout/nav.ejs %>
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-2">
        <a href="/request" class="list-group-item active">
          요청 목록
        </a>
        <li class="list-group-item">
          <a class="btn btn-primary btn-lg btn-block" href="/request" role="button">구매요청 모아보기(구현예정)</a>
          <a class="btn btn-primary btn-lg btn-block" href="/request" role="button">지원요청 모아보기(구현예정)</a>
        </li>
      </div>
      <div class="col-md-10">
        <div class="list-group">
          <li class="list-group-item active"><h4>요청 목록</h4></li>
          <li class="list-group-item">
            <!--글쓰기-->
            <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapsewrite" aria-expanded="false" aria-controls="collapsewrite">
              글쓰기
            </button>
            <div class="collapse" id="collapsewrite">
              <div class="panel panel-default">
                <div class="panel-body">
                  <form action="/request/write" method="post" onsubmit="return onWriteSubmit()">
                    <table class="table col-md-12">
                      <tr>
                        <th class="col-md-1">글번호</th>
                        <th class="col-md-1">작성자</th>
                        <th class="col-md-2">종류</th>
                        <th class="col-md-2">작성시간</th>
                        <th class="col-md-1">글쓰기</th>
                        <th class="col-md-5"></th>
                      </tr>
                      <tr>
                        <th class="col-md-1">
                          <input class="form-control" type="text" name="id_request" placeholder="자동입력" readonly>
                        </th>
                        <td class="col-md-1">
                          <input class="form-control" type="text" name="m_cd" placeholder="m_cd"/>
                        </td>
                        <td class="col-md-2">
                          <!--<input class="form-control" type="text" name="type_cd"/>-->
                          <select class="form-control selectpicker" name="type_cd">
                            <optgroup label="총무업무">
                              <option value="10001">총무업무01</option>
                              <option value="10002">총무업무02</option>
                            </optgroup>
                            <optgroup label="요청지원">
                              <option value="20001">요청지원01</option>
                              <option value="20002">요청지원02</option>
                            </optgroup>
                            <optgroup label="구매지원">
                              <option value="30001">구매지원01</option>
                              <option value="30002">구매지원02</option>
                            </optgroup>
                          </select>
                        </td>
                        <td class="col-md-2">
                          <input class="form-control" placeholder="자동입력" readonly>
                        </td>
                        <td class="col-md-1">
                          <button class="btn btn-primary" type="submit">글쓰기</button>
                        </td>
                        <td class="col-md-5"></td>
                      </tr>
                      <tr>
                        <th class="col-md-2" colspan="2">글제목</th>
                        <th class="col-md-9" colspan="4">내용</th>
                      </tr>
                      <tr>
                        <td class="col-md-2" colspan="2">
                          <input class="form-control" type="text" name="title"/>
                        </td>
                        <td class="col-md-9" colspan="4">
                          <input class="form-control" type="text" name="content"/>
                        </td>
                      </tr>
                    </table>
                  </form>
                </div>
              </div>
            </div>

            <!--<div class="dropdown">
             <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
               Dropdown
               <span class="caret"></span>
             </button>
             <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
               <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
               <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
               <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
               <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
             </ul>
            </div>-->

            <!--글수정-->
            <%for(var i = 0; i < rows.length;i++){%>
            <div class="collapse" id="collapse<%=rows[i].id_request%>">
              <div class="panel panel-default">
                <div class="panel-body">
                  <!--<form action="/request/write" method="post" onsubmit="return onWriteSubmit()">-->
                  <form action="/request/edit" method="post">
                    <!--onsubmit="return onUpdateSubmit()">-->
                    <table class="table col-md-12">
                      <tr>
                        <th class="col-md-1">글번호</th>
                        <th class="col-md-1">종류</th>
                        <th class="col-md-1">제목</th>
                        <th class="col-md-6">내용</th>
                        <th class="col-md-1">작성자</th>
                        <th class="col-md-2">수정시간</th>
                      </tr>
                      <tr>
                        <th class="col-md-1">
                          <input class="form-control" type="text" name="id_request" value="<%=rows[i].id_request%>" readonly>
                        </th>
                        <td class="col-md-1">
                          <input class="form-control" type="text" name="type"/>
                          <!--<div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                              Dropdown
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                              <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><=rows[i].request_account></a></li>
                              <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><=rows[i].request_support></a></li>
                              <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><=rows[i].request_order></a></li>
                            </ul>
                          </div>-->
                        </td>
                        <td class="col-md-1">
                          <input class="form-control" type="text" name="title"/>
                        </td>
                        <td class="col-md-6">
                          <input class="form-control" name="content">
                        </td>
                        <td class="col-md-1">
                          <input class="form-control" type="text" name="m_cd"/>
                        </td>
                        <th class="col-md-2">지금이순간
                        </th>
                      </tr>
                      <tr>
                        <td>
                          <button class="btn btn-primary" type="submit">글수정</button>
                        </td>
                      </tr>
                    </table>
                  </form>
                </div>
              </div>
            </div>
            <%}%>

            <!--글목록-->
            <div class="panel panel-default">
              <!-- Table -->
              <table class="table table-bordered table-hover">
                <tr class="active">
                  <th class="col-md-1">번호</th>
                  <th class="col-md-1">종류</th>
                  <th class="col-md-6">제목</th>
                  <th class="col-md-1">작성자</th>
                  <th class="col-md-2">등록일</th>
                  <th class="col-md-1">조회수</th>
                </tr>
                <%for(var i=0;i<rows.length;i++){%>
                <tr>
                  <td class="col-md-1">
                    <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapse<%=rows[i].id_request%>" aria-expanded="false" aria-controls="collapse<%=rows[i].id_request%>">
                      글수정
                    </button>&nbsp;<span class="badge"><%=rows[i].id_request%></span>&nbsp;
                  </td>
                  <td class="col-md-1"><%=rows[i].type_name%></td>
                  <td class="col-md-6" data-toggle="collapse" href="#content<%=rows[i].id_request%>" aria-expanded="true" aria-controls="content<%=rows[i].id_request%>">
                    <div>
                      <%=rows[i].title%>
                    </div>
                    <div class="collapse in" id="content<%=rows[i].id_request%>">
                      <div>
                        <%=rows[i].content%>
                      </div>
                    </div>
                  </td>
                  <td class="col-md-1"><%=rows[i].m_name%></td>
                  <td class="col-md-2"><%=rows[i].regdate%></td>
                  <td class="col-md-1"><%=rows[i].hit%></td>
                </tr>
                <%}%>
              </table>
            </div>

            <nav>
              <ul class="pagination justify-content-center">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </li>

          <script>
            function onWriteSubmit()
            {
              if ( $("#title").val().trim() == "" )
              {
                var message = "제목을 입력해 주세요";
                $("#title").val("");
                $("#title").focus();
                alert(message);
                return false;
              }

              if ( $("#content").val().trim() == "" )
              {
                var message = "본문 내용을 입력해 주세요";
                $("#content").val("");
                $("#content").focus();
                alert(message);
                return false;
              }
            }
            /*$('#requestUpdate').click(function () {
              function onUpdateSubmit() {
                $.ajax({
                  url: '/request/update',
                  type: 'post',
                  dataType: 'json',
                  data: {
                    id_request: $('#id_request').val(),
                    type: $('#type').val(),
                    title: $('#title').val(),
                    content: $('#content').val()
                  },
                  success: function (data) {
                    console.log(data);
                    $('#output').val(data);
                  },
                  error: function (err) {
                    console.log(err.toString());
                  }
                });
              }
            }*/
          </script>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
