<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../layout/head.ejs %>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<% include ../layout/nav.ejs %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-2">

        <a href="#" class="list-group-item active">
          외부링크
        </a>

        <li class="list-group-item">
          <form action="/main/containlink" method="post">
            <button type="submit" class="btn btn-primary btn-lg btn-block" name="containlink" value="https://www.docswave.com/v2/myurl/playauto">전자결재</button>
          </form>
        </li>

        <li class="list-group-item">
          <form action="/main/containlink" method="post">
            <button type="submit" class="btn btn-primary btn-lg btn-block" name="containlink" value="http://manual.playauto.co.kr/login.html">사용설명서</button>
          </form>
        </li>

        <li class="list-group-item">
          <form action="/main/containlink" method="post">
            <button type="submit" class="btn btn-primary btn-lg btn-block" name="containlink" value="http://www.playauto.co.kr/_mobile/seminar.php">회의실예약</button>
          </form>
        </li>

        <li class="list-group-item">
          <form action="/main/containlink" method="post">
            <button type="submit" class="btn btn-primary btn-lg btn-block" name="containlink" value="http://redmine3.playauto.co.kr/login?back_url=http%3A%2F%2Fredmine3.playauto.co.kr%2F">레드마인</button>
          </form>
        </li>

        <li class="list-group-item">
          <form action="/main/containlink" method="post">
            <button type="submit" class="btn btn-primary btn-lg btn-block" name="containlink" value="http://books.playauto.org/">도서</button>
          </form>
        </li>
      </div>
      <div class="col-md-10">
        <div class="list-group">
          <li class="list-group-item active"><h4>요청 목록</h4></li>
          <li class="list-group-item">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              글쓰기
            </button>
            <div class="collapse" id="collapseExample">
              <div class="panel panel-default">
                <div class="panel-body">
                  <form action="/request/write" method="post" onsubmit="return onWriteSubmit()">
                    <table class="table">
                      <tr>
                        <th>패스워드</th>
                        <th>종류</th>
                      </tr>
                      <tr>
                        <td><input type="password" name="password" id="password"/></td>
                        <td><input type="dropdown" name="type" id="type"/></td>
                      </tr>
                      <tr>
                        <th>제목</th>
                        <th>내용</th>
                      </tr>
                      <tr>
                        <td><input type="text" name="title" id="title"/></td>
                        <td><textarea name="content" id="content"></textarea></td>
                        <td colspan="2">
                          <button type="submit">글쓰기</button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </form>
                </div>
              </div>

            </div>

            <table class="table table-bordered">
              <div class="panel panel-default">
                <!-- Table -->
                <table class="table table-hover">
                  <tr class="active">
                    <th class="col-md-1">글번호</th>
                    <th class="col-md-1">작성자</th>
                    <th class="col-md-2">요청제목</th>

                    <th class="col-md-5">요청내용</th>
                    <th class="col-md-2">요청시간</th>
                    <th class="col-md-2">조회수</th>
                  </tr>
                  <%for(var i = 0; i < rows.length;i++){%>
                  <tr>
                    <td class="col-md-1"><%= rows[i].id_request %></td>
                    <td class="col-md-1"><%= rows[i].m_cd %></td>
                    <td class="col-md-2"><a href="/request/read/<%=rows[i].id_request%>"><%= rows[i].title %></a></td>
                    <td class="col-md-5"><%= rows[i].content %></td>
                    <td class="col-md-2"><%= rows[i].modidate %></td>
                    <td class="col-md-2"><%= rows[i].hit %></td>
                  </tr>
                  <%}%>
                </table>
              </div>

              <nav>
                <ul class="pagination">
                  <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                  <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                  <li class="disabled"><a href="#">2 <span class="sr-only">(current)</span></a></li>
                  <li class="disabled"><a href="#">3 <span class="sr-only">(current)</span></a></li>
                  <li class="disabled"><a href="#">4 <span class="sr-only">(current)</span></a></li>
                  <li class="disabled"><a href="#">5 <span class="sr-only">(current)</span></a></li>
                  <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                </ul>
              </nav>
            </table>
          </li>

          <script>
            function onWriteSubmit()
            {
              if ( $("#password").val().trim() == "" )
              {
                var message = "패스워드를 입력해 주세요";
                $("#password").val("");
                $("#password").focus();
                alert(message);
                return false;
              }

              if ( $("#title").val().trim() == "" )
              {
                var message = "제목을 입력해 주세요";
                $("#title").val("");
                $("#title").focus();
                alert(message);
                return false;
              }

              if ( $("#content").val().trim() == "" )
              {
                var message = "본문 내용을 입력해 주세요";
                $("#content").val("");
                $("#content").focus();
                alert(message);
                return false;
              }
            }

            $.ajax({
              url : 'http://localhost:8000/test',
              method : 'post',
              data : {
                user_id : 'test',
                password : '123456'
              },
              success : function (data) {
                console.log(data);
              },
              error : function (err) {
                console.log(err.toString());
              }
            });
          </script>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
