<html>

<head>
  <link href="/stylesheets/att.css" rel='stylesheet' />

</head>

<body>
  <% 
    var mon = new Date(2017,11,0).getDate();
    var date = [];
    var day = 171101;
    for(var i = 0; i < mon; i++) {
      date.push((day+i));
    }
  
  %>
    <div class="fixe">
      <div class="header">
        <div class="month">
          <h1>
          </h1>
          <h1>
            <</h1>
              <h1>11월</h1>
              <h1>></h1>
        </div>
        <div class="search">
          이름
          <input type="text" class="s_name">
          <button>검색</button>
        </div>
      </div>
      <table>
        <tr>
          <th>이름</th>
          <% for (var i = 1 ; i < mon+1 ; i++) { %>
            <th <% 'id="'+i+ '"'%>>
              <%=i+'일'%>
            </th>
            <% } %>
        </tr>
      </table>
    </div>
    <div class="block"></div>
    <table>
      <% var n = 0, f = 0; %>
      <% for (var j = 1 ; j < name.length ; j++) { %>
        <tr>
          <td rowspan="2" class="first"><%= name[j]%></td>
          <% for (var i = 0 ; i < mon ; i++) { %>
            <td>
              <% if(on[n].name === name[j] && on[n].date === date[i]) {  %>
                <input name="<%='i'+i%>" type="text" value="<%=on[n].time%>">
              <% n += 1 } else { %>
                <input name="<%='i'+i%>" type="text" value="<%=date[6]%>">
              <% } %>
            </td>
          <% } %>
        </tr>
        <tr>
          <% for (var i = 0 ; i < mon ; i++) { %>
            <td>
              <% if(off[n].name === name[j] && off[n].date === date[i]) {  %>
                <input name="<%='i'+i%>" type="text" value="<%=off[f].time%>">
              <% f += 1 } else { %>
                <input name="<%='i'+i%>" type="text" value="2">
              <% } %>
            </td>
          <% } %>
        </tr>
        <% } %>
    </table>
</body>

</html>
