<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../layout/head.ejs %>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<% include ../layout/nav.ejs %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-2">
        <a href="#" class="list-group-item active">
          외부링크
        </a>
        <li class="list-group-item">
          <form action="/main/containlink" method="post">
            <button type="submit" class="btn btn-primary btn-lg btn-block" name="containlink" value="https://www.docswave.com/v2/myurl/playauto">전자결재</button>
          </form>
        </li>
        <li class="list-group-item">
          <form action="/main/containlink" method="post">
            <button type="submit" class="btn btn-primary btn-lg btn-block" name="containlink" value="http://manual.playauto.co.kr/login.html">사용설명서</button>
          </form>
        </li>
        <li class="list-group-item">
          <form action="/main/containlink" method="post">
            <button type="submit" class="btn btn-primary btn-lg btn-block" name="containlink" value="http://www.playauto.co.kr/_mobile/seminar.php">회의실예약</button>
          </form>
        </li>
        <li class="list-group-item">
          <form action="/main/containlink" method="post">
            <button type="submit" class="btn btn-primary btn-lg btn-block" name="containlink" value="http://redmine3.playauto.co.kr/login?back_url=http%3A%2F%2Fredmine3.playauto.co.kr%2F">레드마인</button>
          </form>
        </li>
        <li class="list-group-item">
          <form action="/main/containlink" method="post">
            <button type="submit" class="btn btn-primary btn-lg btn-block" name="containlink" value="http://books.playauto.org/">도서</button>
          </form>
        </li>
      </div>
      <div class="col-md-10">
        <!--iframe windows-->
        <!-- 16:9 aspect ratio -->
        <!--<div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="..."></iframe>
        </div>-->
        <div class="list-group">
          <li class="list-group-item active"><h4>cultureLifeCost_test</h4></li>
          <li class="list-group-item">
            <table class="table table-bordered">
              <tr>
                <th>cultureLifeCost_test</th>
                <th>grant</th>
                <th>use</th>
                <th>extinction</th>
                <th>balance</th>
              </tr>
              <%for(var i = 0; i < rows.length;i++){%>
              <tr>
                <td><%= rows[i].m_name %></td>
                <td><%= rows[i].grant %></td>
                <td><%= rows[i].use %></td>
                <td><%= rows[i].extinction %></td>
                <td><%= rows[i].balance %></td>
              </tr>
              <%}%>
              <!--<tr>
                <td>a</td>
                <td>b</td>
                <td>c</td>
                <td>d</td>
                <td>e</td>
              </tr>-->
            </table>
          </li>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
